<div id="alert-container" *ngIf="alert">
    <div class="notification" [class.is-success] = "success == true" [class.is-danger] = "error == true" id="alert">
      <button class="delete" (click) = "closeAlert()"></button>
      {{msg}}
    </div>
</div>
<header class="columns">
    <div class="column is-1" id="logo">
        <img src="../assets/logo.svg" alt="logo" width="50" height="50">
    </div>
    <div class="column">
        <div class="content" id="title"><h2>Berzelius</h2></div>
        <p id="subtitle">Gerenciamento de estoque de regentes químicos</p>
    </div>
</header>
<div>
    <div class="has-background-info-light tabs">
        <ul>
            <li (click)="initListProducts()"> <a>Listar reagentes</a></li>
            <li (click)="initProductRegister()"> <a>Cadastrar reagentes</a></li>
            <li (click)= "initListOrders()"> <a>Listar pedidos</a></li>
            <li (click)="initListUsers()"> <a>Listar usuários</a></li>
        </ul>
        <div class="has-background-info-light tabs is-left">
            <ul>
                <li><a><app-timer (onTimeOff) = "onTimeOff($event)"></app-timer></a></li>
                <li (click) = "out()"><a>Sair</a></li>
            </ul>
        </div> 
    </div>
</div>
<main>
    <div id="user-info" class="content" *ngIf="userInfo">
        <p> <b>Usuário:</b> {{user.name}} | <b>Status:</b> {{user.adm | userStatus}} </p>
    </div>
    <app-product-form *ngIf="productRegister" (onCreateProduct)="onProductRegister($event)"></app-product-form>
    <app-product-list *ngIf="productsList" [activeUser] = "user" (onEditProduct) = "onProductEdit($event)" (onDelProduct) = "onDelProduct($event)"></app-product-list>
    <app-user-list *ngIf="userList" [activeUser] = "user" (onEditUser) = "onEditUser($event)"(onDelUser) = "onDelUser($event)"></app-user-list>
    <app-order-list *ngIf="orderList" [activeUser] = "user" (onDelOrder) = "onDelOrder($event)" (onProcessOrder) = "onProcessOrder($event)" ></app-order-list>
</main>
<footer class="has-background-info-light">
    <b>Berzelius</b> - Desenvolvido por João Pedro
</footer>
