#alert-container {
    z-index:1;
    position: fixed;
    width: 100%;
}
#alert{
    width: 60%;
    margin: 10px auto;
    text-align: center;
}
#login-box {
    width:50%;
    margin: 20px auto;
    border: 1px solid lightgray;
}
#header{
    text-align: center;
    padding: 5px;
}
#footer {
    text-align: center;
    padding: 5px;
}