<div id="alert-container" *ngIf="alert">
    <div class="notification" [class.is-success] = "success == true" [class.is-danger] = "error == true" id="alert">
      <button class="delete" (click) = "closeAlert()"></button>
      {{msg}}
    </div>
</div>
<header class="columns">
    <div class="column is-1" id="logo">
        <img src="../assets/logo.svg" alt="logo" width="50" height="50">
    </div>
    <div class="column">
        <div class="content" id="title"><h2>Berzelius</h2></div>
        <p id="subtitle">Gerenciamento de estoque de regentes químicos</p>
    </div>
</header>
<div class="has-background-info-light tabs">
    <ul>
        <li (click)="initListProducts()"> <a>Listar reagentes</a></li>
        <li (click)= "initListOrders()"> <a>Listar pedidos</a></li>
    </ul>
    <div class="has-background-info-light tabs is-left">
        <ul>
            <li><a><app-timer (onTimeOff) = "onTimeOff($event)"></app-timer></a></li>
            <li (click) = "out()"><a>Sair</a></li>
        </ul>
    </div> 
</div>
<main>
    <div id="user-info" class="content" *ngIf="userInfo">
        <p> <b>Usuário:</b> {{user.name}} | <b>Status:</b> {{user.adm | userStatus}}  </p>
    </div>
    
    <app-product-list *ngIf="productsList" [activeUser] = "user" (onOrderProduct) = "onOrderProduct($event)"></app-product-list>
    <app-order-list *ngIf="orderList" [activeUser] = "user"></app-order-list>
</main>
<footer class="has-background-info-light">
    <b>Berzelius</b> - Desenvolvido por João Pedro
</footer>